@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&display=swap');
/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}


/* todo elemento html que tiver o nome "header" vai ter o background preto. */
header {
    background-color: #11334D;
    height: 160px;
}

logo img {
    position: absolute;
    /* border-top-left-radius:5px;
    border-top-right-radius: 5px; */
    width: 145px;
    height: 145px;
    left: 11%;
    /* top: 2%; */
       
}


/* ________________________________
Pagina Login Estilo inicio */

.logo-tela-login{
    position: absolute;
    width: 145px;
    height: 145px;
    left: 50%;
    
}

.container-login{
    height: 603px;
    /* width: 400px; */
    background-color: #385367;
}

.container-login{
    display: flex;
    align-items: center;
    
}

.conteudo-login{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
  
}

.conteudo-login p{
    color: white;
    font-size: 20px;
}

._div{
    display: flex;
    align-items: flex-end;
    height: 90px;
    width: 100%;
    /* background-color: #398C18; */
}

._div-BT{
    display: flex;
    justify-content: center;
}


.barras-login{
    height: 100%;
    width: 65%;
}

#input{
    /* float:left; */
    /* background-color:transparent; */
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style:italic;
    font-size:25px;
    /* border:#11334D; */
    height:100%;
    width:100%;
}

/* Pagina Login Estilo fim
________________________________ */


/* Reaproveitar esra classe */
.container-grid {
    width: 1600px;
    margin: 0 auto;
    /* background-color: #1f251c; */
}

.cabecalho{
display: flex;
justify-content: space-around;
align-items: center;
height: 50%;
}

.menu{
    /* width: 20px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
}

.centralizar-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* width: 300px; */
   
}
.container-menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    /* background-color: aliceblue; */
}

.conteudo-produtos{
    height: 100%;
    width: 230px;
   
}
.conteudo-contato{
    height: 100%;
    width: 200px;
}

.conteudo-gamer{
    height: 100%;
    width: 160px;
}

.conteudo-pesquisa{
   
    display: flex;
    justify-content: center;
    align-items: center;
}

#divBusca{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
  }

.not{
    height: 100%;
    width: 200px;
}

  
  #txtBusca{
    /* float:left; */
    /* background-color:transparent; */
    padding-left:5px;
    font-style:italic;
    font-size:30px;
    /* border:#11334D; */
    height:100%;
    width:57%;
  }

  .container-header2{
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    /* background-color: #59e613; */
  }

  .container-header2 img{
      height: 100%;
  }

  .container-header2 h1{
    color: white;
    font-weight: 650;
  }

  .barra-busca{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      /* align-items: center; */
  }

  .numero-compras{
      height: 100%;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

.banner{
    height: 623px;
    background-image: url(../img/FundoBanner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.conteudo-banner{
    color: white;
    display: flex;
    flex-direction: column;
    width: 495px;
    align-items: center;
    /* justify-content: flex-end; */
    
}

.posicionamento-banner{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.conteudo-banner h1{
    /* font-family: sans-serif; */
    font-weight: 500;
    font-size: 72px;
} 

.conteudo-banner p{
    font-weight: bold;
    font-size: 38px;
}

.frase{
    height: 55px;
    background-color: #040A0F;
}


.conteudo-frase p{
    color: white;
    font-size: 28px
}

.posicao-frase {
    
    display: flex;
    justify-content: center;
    
}

.icones{
    height: 79px;
    background-color: #0B2233;
}

.posicao-icones{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.container-mercadorias{
    height: 1200px;
    background-color: #11334D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-produto{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.container-produto img{
    /* height: 388px; */
    /* width: 388px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Botoes{
    display: flex;
    justify-content: space-between;
   
}

#bt-ver-produto{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    padding: 13px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    background-color: #226599;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
   
}

#bt-add-carrinho{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    padding: 13px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #226599;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;

}

#bt-add-carrinho img{
    width: 50px;
}

.valor-antigo{
    display: flex;
    justify-content: space-around;
    color: red;
    font-weight: 500;
    font-size: 24px;
    text-decoration: line-through;
    /* background-color: aqua; */
}


.valores r1{
    color: #398C18;
}

.valores{
    /* width: 388px; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* background-color: #c6cec3; */
}

.valorConsoles{
    /* color: #398C18; */
    color: white;
    font-weight: 500;
    font-size: 48px;
}





#BTverProduto{
height: 74px;
width: 388px;
}


footer{
    height: 480px;
    background-color: #06131D;
    background-image: url(../img/rodape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-rodape{
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;

   
  
}

.container-titulos{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-titulos h6{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.container-35{
    width: 25%;
    
}

.container-50{
    width: 50%;
}




.container-contatos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 25%;

    /* border: 8px solid #000000;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px; */

   
   
}

.container-whats{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: #398C18; */
    font-size: 35px;
    color: white;
}

.container-email{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #617b8b; */
    width: 100%;
    display: flex;
    font-size: 35px;
    color: white;
}

.container-endereco{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
   
    height: 100%;
    width: 50%;
    font-size: 35px;
    color: white;
}


.container-redes-sociais{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #383c3f; */
}

/* medida relativa */
@media screen and (max-width: 1200px) {
    .container-grid {
       width: 90vw;
    }
}

@media screen and (max-width: 768px) {
    header {
        background-color: rosybrown;
    }
}


